<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello dear user!</h1>
    <p class="lead">What features woud you expect from thecoolguide.net?</p>
    <img src="https://graph.facebook.com/thecoolguide/picture?type=large">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Requested features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Ask for a feature." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Ask for feature</button>
      </span>
    </p>
  </form>
  <h1>Read our Facebook Feed</h1>
  <div class="row" masonry>
    <div class="col-md-4 masonry-brick" ng-repeat="item in fbData track by item.id">
      <a ng-href="{{::item.link}}" target="_blank">
        <img ng-src="{{::item.big_picture}}" class="img-responsive" alt=""/>
      </a>
      <p>{{::item.message}}</p>
      <div class="tags" ng-show="item.message_tags">
        <p><a ng-href="http://facebook.com/{{::tag[0].id}}" target="_blank" class="btn btn-xs btn-primary" ng-repeat="(key, tag) in item.message_tags">{{::tag[0].name|lowercase}}</a> </p>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Build with passion by |
        <a href="https://twitter.com/valentinvieriu">@valentinvieriu</a> |
  </div>
</footer>
